
@import "generales";
@import "institucional";
@import "servicios";
@import "cursos";
@import "contacto";
*{
    padding: 0;
    margin: 0;
} 

.conteinerOne{
  grid-area: one;
}
.conteinerTwo{
  grid-area: two;
}
.conteinerThree{
  grid-area: three;
}
.conteinerFour{
  grid-area: four;
}


@media only screen and (max-width: 575px){
  .conteiner-father{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four";
    height: 1500px;
    width: auto;
    gap: 200px;
    

  
  }
  
  .conteinerOne{
    width: auto;
    height: auto;
    nav{
      width: auto;
      display: flex;
      justify-content: flex-start;
    }
  }
  .conteinerTwo{
    width: auto;
    height: 1fr;
    .bannerPrincipal{
      width: auto;
      .h1{
        font-size: larger;
      }
      
    }
 
  }
  .conteinerThree{
    width: auto;
    height: 1fr;
    .presentacion{
      width: auto;
      height: auto;
      .parrafoOne{
        width: auto;
        font-size: small;
      }
    }
  }
  .conteinerFour{
    width: auto;
  }
  }
  

@media only screen and (max-width: 767px){
  .conteiner-father{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four";
    height: 1500px;
    width: auto;
    gap: 200px;
    

  
  }
  
  .conteinerOne{
    width: auto;
    height: auto;
    nav{
      width: auto;
      display: flex;
      justify-content: flex-start;
    }
  }
  .conteinerTwo{
    width: auto;
    height: 1fr;
    .bannerPrincipal{
      width: auto;
    .h1{
      font-size: larger;
    }
      
    }
 
  }
  .conteinerThree{
    width: auto;
    height: 1fr;
    .presentacion{
      width: auto;
      height: auto;
      .parrafoOne{
        width: auto;
        font-size: small;
      }
    }
  }
  .conteinerFour{
    width: auto;
  }
}
@media only screen and (max-width: 991px){
  .conteiner-father{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four";
    height: 1500px;
    width: auto;
    gap: 200px;
    

  
  }
  
  .conteinerOne{
    width: auto;
    height: auto;
    nav{
      width: auto;
      display: flex;
      justify-content: flex-start;
    }
  }
  .conteinerTwo{
    width: auto;
    height: 1fr;
    .bannerPrincipal{
      width: auto;
      
      .h1{
        font-size: medium;
      }

    }
 
  }
  .conteinerThree{
    width: auto;
    height: 1fr;
    .presentacion{
      width: auto;
      height: auto;
      .parrafoOne{
        width: auto;
        font-size: small;
      }
    }
  }
  .conteinerFour{
    width: auto;
  }
}